body{
    background-image: url(https://wallpapers.com/images/hd/black-and-white-grid-aesthetic-9qjrt503y0n54spf.jpg);
}
    .banner{
    height:120px;
    width:100%;
    max-width:1400px;
    background-image:url("Rectangle\ 2\ \(1\).png");

    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
}
   
    .content-box{
    width:100%;
    max-width:950px;    
    height: 670px;

    background-color:#B7C8B4; 

    border-radius: 20px;
    opacity: 0.92;
    padding-top: 30px;
    padding-left:30px;
   }



    .content-box1{
    width: 950px;
    height: 700px;

    background-color:#B7C8B4; 

    border-radius: 20px;
    opacity: 0.92;
    padding-top: 0px;
    padding-left:30px;
   
    }



.ABOUT-MEH-PAGE{
    display:flex;
    justify-content:center;
    gap:30px;


    font-size: 50px;
    text-align: center;
}

.About-Me{
    position: relative;
    align-items: center;
    width:100%;
    max-width:400px;
    height: 700px;
    border-radius: 20px;

    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;
    
}

.about-me-img{
   border-radius: 20px;
   height: 280px; 
   width: 330px;

   opacity: none;
   
   display:block;
    margin:20px auto;
}

.Current-Developments{
    position: relative;
    width: 400px;
    height: 700px;
    border-radius: 20px;

    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;

    
}
    


.my-buttons{
    display:flex;
    justify-content:center;
    gap: 150px;
    flex-wrap:wrap;

}

button {
    padding: 20px 50px;
    border-radius: 20cm;
    border: none;
    background-color: #ABB7AA;
    font-size: 15px;
    font-family:"Jacques Francois";
    color: white;
    cursor:pointer;   

}

button:hover{
    transform:translateY(-3px);
}


h1{
font-family: "just me again down here";
color: #d3d3d3;
font-size: 70px;
text-align: center;
}


.DREAMX-PAGE{
    display:flex;
    justify-content:center;
    gap:50px;

    font-size: 50px;
    text-align: center;
}

.float-doodle-11{
    position: relative;
    bottom: 645px;
    left: 40px;
    width: 380px;
}

.float-doodle-9{
    position: absolute;
    bottom: 710px;
    left: 80px;
    
}

.float-doodle-1{
    position: absolute;
    bottom: 560px;
    left: 970px;
    height: 45px;
}

.float-doodle-10{
    position: absolute;
    bottom: 710px;
    left: 1300px;
}

.float-doodle-8{
    position: absolute;
    bottom: 580px;
    left: 525px;
}

.float-doodle-4{
    position: absolute;
    bottom: 600px;
    left: 340px;
}

.float-doodle-2{
    position: absolute;
    bottom: 565px;
    left: 200px;
}

.float-doodle-6{
    position: absolute;
    bottom: 570px;
    left: 440px;
}

.float-doodle-5{
    position: absolute;
    bottom: 610px;
    left: 760px;
}

.float-doodle-7{
    position: absolute;
    bottom: 590px;
    left: 850px;
}

.float-doodle-12{
    position: absolute;
    bottom: 580px;
    left: 1150px;
}

.float-doodle-3{
    position: absolute;
    bottom: 610px;
    left: 1100px; 
}

.float-doodle-13{
    position: absolute;
    bottom: 200px;
    left: 500px; 
}

.float-doodle-14{
    position: absolute;
    bottom: 580px;
    left: 70px;
}

.float-doodle-15{
    position: absolute;
    bottom: 590px;
    left: 1400px;
}



.coming-soon-game {
    height: 110px;
    width: 200px;
}

.coming-soon-photography{
    height: 110px;
    width: 200px;
}

.project-row-1{
    display:flex;
    justify-content: flex-start;
    gap: 20px;
    align-items:center;

    border-bottom:2px solid #8A9985;

    padding-bottom:20px;
    margin-bottom:20px;
}

.project-row-2{
   display:flex;
    justify-content: flex-start;
    gap: 20px;
    align-items:flex-start;

    border-bottom:2px solid #8A9985;

    padding-bottom:20px;
    margin-bottom:20px;
}

p{
    font-family:"Jacques Francois";
    font-size: 20px;
}

ul{
font-size: 20px;
}


.coming-soon-projects{
    position: relative;
    height: 200px;

    bottom: -50px;
    left: -10px;
}

.text-box1{
    position: absolute;
    bottom: 320px;
    left: 40px;

    z-index: 2;
}

.text-box{
    padding: 20px;
    font-family:"Jacques Francois";    font-size: 1px;
}

@media (max-width:1200px){

.float-doodle-15{

display:none;
}

.float-doodle-3{
    display: none;
}

.float-doodle-12{
    display: none;
}
.float-doodle-10{
    display: none;
}
.float-doodle-7{
    display: none;
}
.float-doodle-1{
    display: none;
}
.float-doodle-5{
    display: none;
}

.float-doodle-13{
    display: none;
}

.my-buttons{
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap: 125px;
   }

   .float-doodle-13{
    display: none;
}

.about-me-img{
  height: 250px; 
  width: 300px;  
}

.float-doodle-11{
    position: relative;
    bottom: 720px;
    left: 100px;
    width: 350px;
}

.content-box{
    position: relative;
    width: 500px;
    height: 750px;

    background-color:#B7C8B4; 

    border-radius: 20px;
    opacity: 0.92;
    padding-top: 30px;
    padding-left:30px;
    left: -10px;

    }

    .Current-Developments{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 780px;
    border-radius: 20px;
    left: -20px;
    gap: 20px;

    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;
}

.DREAMX-PAGE{
    flex-direction: row;

    gap:50px;
    font-size: 50px;
    text-align: center;
}   

.About-Me{
    position: relative;
    align-items: center;
    width:100%;
    max-width:400px;
    height: 750px;
    border-radius: 20px;

    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;
    
}

.coming-soon-projects{
    position: relative;
    height: 150px;
    width: 300px;

    bottom: -45px;
    left: 50px;
}

ul{
font-size: 14px;
}

p{
    font-family:"Jacques Francois";
    font-size: 17px;
}

h1{
    font-size: 37px;
}

} 

@media (max-width:1160px){
.my-buttons{
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap: 80px;
   }

   button {
    padding: 20px 30px;
    border-radius: 20cm;
    border: none;
    background-color: #ABB7AA;
    font-size: 12px;
    font-family:"Jacques Francois";
    color: white;
    cursor:pointer;
   
     width: 160px;
     height: 60px;
     text-align: center;
}

.float-doodle-2{
    display: none;

}
}

@media (max-width:1000px){

.float-doodle-15{

display:none;
}

.float-doodle-3{
    display: none;
}

.float-doodle-12{
    display: none;
}
.float-doodle-10{
    display: none;
}
.float-doodle-7{
    display: none;
}
.float-doodle-1{
    display: none;
}
.float-doodle-5{
    display: none;
}

.my-buttons{
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap: 80px;
   }

   .float-doodle-13{
    display: none;
}

.about-me-img{
  height: 250px; 
  width: 300px;  
}

.float-doodle-11{
    position: relative;
    bottom: 730px;
    left: 50px;
    width: 310px;
}

.content-box{
    position: relative;
    width: 500px;
    height: 750px;

    background-color:#B7C8B4; 

    border-radius: 20px;
    opacity: 0.92;
    padding-top: 30px;
    padding-left:30px;
    left: 10px;

    }

    .Current-Developments{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 350px;
    height: 750px;
    border-radius: 20px;
    left: 15px;
    gap: 20px;

    font-family:"just me again down here";
    font-size: 40px;
    background-color: #B7C8B4;
    opacity: 0.92;
}

.DREAMX-PAGE{
    flex-direction: row;

    gap:50px;
    font-size: 50px;
    text-align: center;
}   

.About-Me{
    position: relative;
    align-items: center;
    width:100%;
    max-width:400px;
    height: 750px;
    border-radius: 20px;

    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;
    
}

.coming-soon-projects{
    position: relative;
    height: 140px;
    width: 290px;

    bottom: -50px;
    left: 50px;
}

ul{
font-size: 14px;
}

p{
    font-family:"Jacques Francois";
    font-size: 17px;
}

h1{
    font-size: 37px;
}

}

@media (max-width:896px){
.my-buttons{
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap: 50px;
   }

   .button {
    padding: 20px 30px;
    border-radius: 20cm;
    border: none;
    background-color: #ABB7AA;
    font-size: 12px;
    font-family:"Jacques Francois";
    color: white;
    cursor:pointer;
   
     width: 160px;
     height: 60px;
     text-align: center;
}

.coming-soon-projects{
    position: relative;
    height: 150px;
    width: 300px;

    bottom: -50px;
    left: 20px;
}

}

@media (max-width:850px){

.float-doodle-15{

display:none;
}

.float-doodle-3{
    display: none;
}

.float-doodle-12{
    display: none;
}
.float-doodle-10{
    display: none;
}
.float-doodle-7{
    display: none;
}
.float-doodle-1{
    display: none;
}
.float-doodle-5{
    display: none;
}

.my-buttons{
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap: 50px;
   }

      .button {
    padding: 20px 30px;
    border-radius: 20cm;
    border: none;
    background-color: #ABB7AA;
    font-size: 12px;
    font-family:"Jacques Francois";
    color: white;
    cursor:pointer;
   
     width: 160px;
     height: 60px;
     text-align: center;
}

   .float-doodle-13{
    display: none;
}

.about-me-img{
  height: 200px; 
  width: 250px;  
}

.float-doodle-11{
    position: relative;
    bottom: 1125px;
    left: 200px;
    width: 350px;
}

.content-box{
    position: relative;
    width: 500px;
    height: 750px;

    background-color:#B7C8B4; 

    border-radius: 20px;
    opacity: 0.92;
    padding-top: 30px;
    padding-left:30px;
    left: 130px;

    }

    .Current-Developments{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 375px;
    border-radius: 20px;
    left: 150px;
    gap: 20px;

    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;
}

.DREAMX-PAGE{
    flex-direction: column;

    gap:50px;
    font-size: 50px;
    text-align: center;
}  

.ABOUT-MEH-PAGE{
    flex-direction: column;    
    justify-content:center;
    gap:30px;
}

.About-Me{
    position: relative;
    align-items: center;
    width:100%;
    max-width:400px;
    height: 375px;
    border-radius: 20px;
    left: 190px;

    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;
    
}

.coming-soon-projects{
    position: relative;
    height: 150px;
    width: 300px;

    bottom: -50px;
    left: 100px;
}

ul{
font-size: 14px;
}

p{
    font-family:"Jacques Francois";
    font-size: 17px;
}

h1{
    font-size: 37px;
}

}



@media (max-width:768px){

    .banner{
    height:120px;
    width:100%;
    max-width:1400px;
    background-image:url("Rectangle\ 2\ \(1\).png");

    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
}

.float-doodle-15{

display:none;
}

.float-doodle-3{
    display: none;
}

.float-doodle-12{
    display: none;
}
.float-doodle-10{
    display: none;
}
.float-doodle-7{
    display: none;
}
.float-doodle-1{
    display: none;
}
.float-doodle-5{
    display: none;
}

.my-buttons{
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap: 40px;
   }

button {
    padding: 20px 30px;
    border-radius: 20cm;
    border: none;
    background-color: #ABB7AA;
    font-size: 12px;
    font-family:"Jacques Francois";
    color: white;
    cursor:pointer;
   
     width: 150px;
     height: 50px;
     text-align: center;
}

   .float-doodle-13{
    display: none;
}

.about-me-img{
  height: 200px; 
  width: 250px;  
}

.float-doodle-11{
    position: relative;
    bottom: 1150px;
    left: 210px;
    width: 300px;
}

.content-box{
    position: relative;
    width: 500px;
    height: 750px;

    background-color:#B7C8B4; 

    border-radius: 20px;
    opacity: 0.92;
    padding-top: 30px;
    padding-left:30px;
    left: 100px;
    }

    .Current-Developments{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 375px;
    border-radius: 20px;
    left: 150px;
    gap: 20px;

    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;
}

.DREAMX-PAGE{
    flex-direction: column;
    justify-content:center;

    gap:50px;
    font-size: 50px;
    text-align: center;
}   

.About-Me{
    position: relative;
    align-items: center;
    width:100%;
    max-width:400px;
    height: 375px;
    border-radius: 20px;
    left: 150px;

    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;
    
}

.ABOUT-MEH-PAGE{
    flex-direction: column;    
    justify-content:center;
    gap:50px;
}

.coming-soon-projects{
    position: relative;
    height: 150px;
    width: 300px;

    bottom: -50px;
    left: 50px;
}

ul{
font-size: 14px;
}

p{
    font-family:"Jacques Francois";
    font-size: 17px;
}

h1{
    font-size: 37px;
}

}

@media (max-width:550px){

.float-doodle-15{

display:none;
}

.float-doodle-3{
    display: none;
}

.float-doodle-12{
    display: none;
}
.float-doodle-10{
    display: none;
}
.float-doodle-7{
    display: none;
}
.float-doodle-1{
    display: none;
}
.float-doodle-5{
    display: none;
}

.float-doodle-6{
    display: none;
}

.float-doodle-8{
    display: none;
}

.my-buttons{
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap: 60px;
   }

   .float-doodle-13{
    display: none;
}

.about-me-img{
  height: 200px; 
  width: 250px;  
}

.float-doodle-11{
    position: relative;
    bottom: 1150px;
    left: 70px;
    width: 350px;
}

.content-box{
    position: relative;
    width: 400px;
    height: 750px;

    background-color:#B7C8B4; 

    border-radius: 20px;
    opacity: 0.92;
    padding-top: 30px;
    padding-left:30px;
    left: 15px;

    }

    .Current-Developments{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 430px;
    height: 375px;
    border-radius: 20px;
    left: 15px;
    gap: 15px;

    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;
}

.DREAMX-PAGE{
    flex-direction: column;

    gap:50px;
    font-size: 50px;
    text-align: center;
}   

.ABOUT-MEH-PAGE{
    flex-direction: column;    
    justify-content:center;
    gap:50px;
}

.About-Me{
    flex-direction: column;
    position: relative;
    align-items: center;
    width:100%;
    max-width:400px;
    height: 375px;
    border-radius: 20px;
    left: 15px;

    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;
    
}

.coming-soon-projects{
    position: relative;
    height: 150px;
    width: 300px;

    bottom: -50px;
    left: 100px;
}

ul{
font-size: 14px;
}

p{
    font-family:"Jacques Francois";
    font-size: 17px;
}

h1{
    font-size: 37px;
}

}

@media (max-width:440px){


    .banner{
    height:120px;
    width:400px;
    background-image:url("Rectangle\ 2\ \(1\).png");

    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
}

.float-doodle-15{

display:none;
}

.float-doodle-3{
    display: none;
}

.float-doodle-12{
    display: none;
}
.float-doodle-10{
    display: none;
}
.float-doodle-7{
    display: none;
}

.float-doodle-1{
    display: none;
}
.float-doodle-5{
    display: none;
}

.float-doodle-2{
    display: none;
}

.float-doodle-4{
    display: none;
}

.float-doodle-6{
    display: none;
}

.float-doodle-8{
    display: none;
}

.my-buttons{
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap: 40px;
   }

   .float-doodle-13{
    display: none;
}

.about-me-img{
  height: 200px; 
  width: 250px;  
}

.float-doodle-11{
    position: relative;
    bottom: 1160px;
    left: 60px;
    width: 300px;
}

.content-box{
    position: relative;
    width: 350px;
    height: 750px;

    background-color:#B7C8B4; 

    border-radius: 20px;
    opacity: 0.92;
    padding-top: 30px;
    padding-left:30px;
    left: 20px;

    }

    .Current-Developments{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 360px;
    height: 375px;
    border-radius: 20px;
    left: 20px;
    gap: 20px;

    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;
}

.DREAMX-PAGE{
    flex-direction: column;

    gap:50px;
    font-size: 50px;
    text-align: center;
}   

.About-Me{
    position: relative;
    align-items: center;
    width:100%;
    max-width:400px;
    height: 375px;
    border-radius: 20px;
    font-size: 35px;

    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;
    
}

.coming-soon-projects{
    position: relative;
    height: 150px;
    width: 300px;

    bottom: -50px;
    left: 50px;
}

ul{
font-size: 14px;
}

p{
    font-family:"Jacques Francois";
    font-size: 17px;
}

h1{
    font-size: 37px;
}

button {
    padding: 20px 30px;
    border-radius: 20cm;
    border: none;
    background-color: #ABB7AA;
    font-size: 12px;
    font-family:"Jacques Francois";
    color: white;
    cursor:pointer;
   
     width: 130px;
     height: 50px;
     text-align: center;
}

}

@media (max-width:469px){
.my-buttons{
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap: 80px; 
   }

   button {
    padding: 20px 30px;
    border-radius: 20cm;
    border: none;
    background-color: #ABB7AA;
    font-size: 12px;
    font-family:"Jacques Francois";
    color: white;
    cursor:pointer;
   
     width: 130px;
     height: 50px;
     text-align: center;
}

}

@media (max-width:360px){

.banner{
    height:120px;
    width:340px;
    background-image:url("Rectangle\ 2\ \(1\).png");

    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
}

.float-doodle-15{

display:none;
}

.float-doodle-3{
    display: none;
}

.float-doodle-12{
    display: none;
}
.float-doodle-10{
    display: none;
}
.float-doodle-7{
    display: none;
}
.float-doodle-1{
    display: none;
}
.float-doodle-5{
    display: none;
}

.float-doodle-2{
    display: none;
}

.float-doodle-4{
    display: none;
}

.float-doodle-6{
    display: none;
}

.float-doodle-8{
    display: none;
}

.my-buttons{
    display:flex;
    justify-content:center;
    gap: 110px;
   }

   .float-doodle-13{
    display: none;
}

.about-me-img{
  height: 150px; 
  width: 160px;  
}

.float-doodle-11{
    position: relative;
    bottom: 1020px;
    left: 20px;
    width: 300px;
}

.float-doodle-14{
    display: none;
}

.content-box{
   
    width: 310px;
    height: 670px;

    background-color:#B7C8B4; 

    border-radius: 20px;
    opacity: 0.92;
    padding-top: 30px;
    padding-left:30px;
    left: 5px;
   
    }

    .Current-Developments{
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 325px;
    border-radius: 20px;
    padding-top: 10px;
    left: 5px;
    gap: 20px;
    font-size: 35px;



    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;
}

.DREAMX-PAGE{
    flex-direction: column;
    justify-content:center;
    gap:50px;

    font-size: 50px;
    text-align: center;
}    

.ABOUT-MEH-PAGE{
    flex-direction: column;    
    justify-content:center;
    gap:30px;


    font-size: 50px;
    text-align: center;
}

.About-Me{
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 350px;
    height: 325px;
    border-radius: 20px;
    left: 5px;
    font-size: 35px;

    font-family:"just me again down here";
    background-color: #B7C8B4;
    opacity: 0.92;
    
}

.coming-soon-projects{
    position: relative;
    height: 120px;
    width: 220px;

    bottom: -20px;
    left: 50px;

}

button {
    padding: 20px 30px;
    border-radius: 20cm;
    border: none;
    background-color: #ABB7AA;
    font-size: 10px;
    font-family:"Jacques Francois";
    color: white;
    cursor:pointer;
   
     width: 110px;
     height: 50px;
     text-align: center;
}

.my-buttons{
    display:flex;
    justify-content:center;
    gap: 60px;
    flex-wrap:wrap;
}

ul{
font-size: 12px;
}

p{
    font-family:"Jacques Francois";
    font-size: 15px;
}

h1{
    font-size: 35px;
}

.coming-soon-game {
    height: 110px;
    width: 200px;
}

.coming-soon-photography{
    height: 110px;
    width: 200px;
}

.project-row-1{
    flex-direction: column;
    display:flex;
    justify-content: flex-start;
    gap: 10px;
    align-items:center;

    border-bottom:2px solid #8A9985;

    padding-bottom:10px;
    margin-bottom:20px;
}

.project-row-2{
    flex-direction: column;
    display:flex;
    justify-content: flex-start;
    gap: 5px;
    align-items:center;

    border-bottom:2px solid #8A9985;

    padding-bottom:10px;
    margin-bottom:20px;
}
}







